*, html {
    font-family: $font-family;
    padding: 0;
    margin: 0;
}
.sans {
    font-family: $sans;
}
.serif {
    font-family: $serif;
}
body {
    background-color: $black;
    color: $white;
    z-index: 100;
    min-width: 100vw;
    min-height: 100vh;
    line-height: 1.2em;
    font-size: 1.05em;
}
a,
a:visited {
    text-decoration: none;
    font-style: italic;
    color: $lightblue;
    @include ease();
}
a:hover {
    color: $gray;
}
.button-link::before {
    @include ease();
    cursor: pointer;
    content:"\f0c1\00a0";
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
h1, h2, h3 {
    font-family: $sans;
    text-transform: capitalize;
    text-align: center;
}
h1 {
    font-size: 1.7em;
    font-weight: 800;
    padding: 1.5em;
}
h2 {
    font-size: 1.5em;
    padding: 1.5em;
}
h3 {
    font-size: 1.2em;
    padding: 1.5em 1.5em .5em 1.5em;
}
.body-copy {
    text-align: justify;
    padding: 0 4em;
    line-height: 1.2em;
    font-size: 1.05em;
}
hr {
    height:1px;
    border:0;
    width:60%;
    margin: 2em auto;
    background-color: $gray;
}
nav hr {
    margin-top:1em;
    margin-bottom: 1em;
}
footer {
    background-color: $black !important;
    width:100vw;
    text-align: center;
    padding:2em 0;
    font-size: .9em;
}
footer, .nav_button {
    @include ease();
    letter-spacing: .4em;
    text-transform: uppercase;
    color: $gray;
}
.nav-spacer {
    height:5em;
    width:100vw;
}
.nav_top {
    background-color: rgba($black, .9);
    cursor: pointer;
    display:block;
    padding:2em;
    width:100vw;
    box-sizing: border-box;
    * {
        display:inline-block;
    }
    > div {
        font-size: .9em;
        float:left;
    }
}
.nav_top i {
    float:right;
}
.nav_button > a {
    color:$gray;
}
.nav_button:hover,
.nav_button:hover a {
    color:$white;
}
div.nav_button {
    position:absolute;
    top:0;
}
nav {
    text-align: center;
    width:100vw;
    height:100vh;
    position: fixed;
    top:0; left: 0;
    background-color:$black;
    display: table;
    z-index: 100;
    ul {
        display: table-cell;
        vertical-align: middle;
        li {
            cursor: pointer;
            padding:1em 0;
            font-size: .9em;
            letter-spacing: .4em;
            text-align: center;
            text-transform: uppercase;
            width:100vw;
            color: $gray;
        }
        li:hover {
            color:#fff;
        }
    }
}
#hero {
    display: table;
    background-repeat:no-repeat; 
    background-size:cover; 
    filter: blur(20px);
    background: 
        linear-gradient(
          rgba($white, .7), 
          rgba($white, .7)
        ),
        no-repeat,
        url('../media/logo_background.jpeg');
    article {
        vertical-align: middle;
        display: table-cell;
        .tagline, em {
            font-size:1.3em;
            padding:0 2em;
            line-height: 1.2em;
        }
        em {
            font-style: italic;
        }
    }
    height:80vh;
}
#services {
    article.service {
        padding:2em;
    }
    h2 {
        display:inline-block;
        margin:0;
        padding:0;
        vertical-align: middle;
    }
    .service_logo {
        display:inline-block;
        vertical-align: middle;
        width:30px;
        height:30px;
        margin-right:1em;
        background-repeat:no-repeat; 
        background-size:contain; 
        background-position:center;
    }
    span {
        color: $gray;
    }
    a, a:visited {
        color: rgba($lightblue, 0.6);
    }
    a:hover {
        color: $lightblue;
    }
}
.button {
    padding:1em;
    margin:1.5em 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
    cursor: pointer;
    color: rgba($black, 0.8);
    border-left:.3em solid rgba($white, 0.8);
    background-color: rgba($white, 0.8);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(11,11,11,.2);
    -moz-box-shadow: 0px 2px 10px 0px rgba(11,11,11,.2);
    box-shadow: 0px 2px 10px 0px rgba(1,11,11,.2);
    display:inline-block;
}
.button:hover {
    color: $white;
    border-color: rgba($white, 0.8);
    background-color: rgba($blue, 0.7);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(11,11,11,.4);
    -moz-box-shadow: 0px 2px 10px 0px rgba(11,11,11,.4);
    box-shadow: 0px 2px 10px 0px rgba(1,11,11,.4);
}
.alt {
    color:$black;
    background-color:$white;
    .button {
        color: rgba($white, 0.8);
        border-left:.3em solid $black;
        background-color: rgba($black, 0.8);
    }
    .button:hover {
        color: $white;
        border-color: rgba($white, 0.8);
        background-color: rgba($blue, 0.7);
    }
    a.no-style,
    a.no-style:visited,
    a.no-style:hover {
        color:$black;
        font-style: normal;
    }
}
.norm {
    color:$white;
    background-color:$black;
    .button {
        color: rgba($black, 0.8);
        border-left:.3em solid rgba($white, 0.8);
        background-color: rgba($white, 0.8);
    }
    .button:hover {
        color: $white;
        border-color: rgba($white, 0.8);
        background-color: rgba($blue, 0.7);
    }
    a.no-style,
    a.no-style:visited,
    a.no-style:hover {
        color:$white;
        font-style: normal;
    }
}
.button.center {
    min-width:40vw;
    border:none;
    margin:1.5em auto;
    display:table;
}
.center {
    text-align: center;
    margin:0 auto;
}
.body-note {
    padding:2em;
    width:50%;
    margin:0 auto;
    font-style: italic;
}
.submenu {
    font-family: $sans;
    text-transform: uppercase;
    > li {
        @include ease();
        cursor: pointer;
        width:33.33vw;
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        padding: 1em 0;
        letter-spacing: .4em;
    }
    > li:not(.active) {
        background-color:$darkgray;
    }
    > li:not(.active):hover {
        background-color:darken($darkgray, 10%);
    }
    .active {
        background-color: $black;
    }
}
.absolute-container {
    width:100vw;
    position: relative;
    @include ease();
}
#sponsor_section, #hire_section, #join_section {
    position: absolute;
    top:0;
    left:0;
    @include ease();
}
.hidden {
    display: none;
    @include ease();
}

.bg-img {
    background-color: #B1B8BD;
    display:table;
    position: static;
    bottom:0;
    width:100vw;
    height:200px;
    @include auto-bg('https://images.unsplash.com/photo-1451188502541-13943edb6acb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=892b76bb136c32b4d606b4a4d2f9b39b');
    z-index: 0;
    > a.button {
        vertical-align: middle;
        position: static;
    }
}
.img-spacer {
    height:200px;
    width:100vw
}
.modal {
    padding:3em;
    position: fixed;
    display:table;
    background-color:$white;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    > div {
        display: table-cell;
        vertical-align: middle;
        > h2, h3 {
            margin:0;
            padding:0;
            text-transform: none;
        }
        > .em {
            color:$darkgray;
            padding-bottom:1em;
            font-style: italic;
        }
    }
}
.blur-container {
    width:100%;
    height:100%;
    position: absolute;
    display:none;
    overflow: hidden;
    top:0;
    left:0;
}
.blur:before {
  content: '';
  height: 100vh;
  width: 100vw;
  background: rgba($black, 0.9);
  position: fixed;
}
.small {
    font-size:.9em;
}
.exec-board {
    width:100vw;
    overflow-x:scroll;
    overflow-y:hidden;
    h4 {
        color:$darkwhite;
        font-family: $serif;
        font-weight: normal;
        font-size:1em;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
        padding: 0 0 1em 0;
        text-align: center;
        font-style: italic;
    }
    ::-webkit-scrollbar { 
        display: none; 
    }
    .member {
        @include ease-opacity();
        border:none;
        webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
    }
    .member-desc {
        position: absolute;
    }
    > .board-members {
        list-style: none;
        display: block;
        white-space: nowrap;
        overflow-y:hidden;
        overflow-x:auto;
    }
    img {   
        display: inline;
        width:28vw;
        height:28vw;
        padding:0;
        margin:0;
    }
    img:not(.selected-member), 
    img:not(.selected-member) > img {
        opacity: 0.5;
    } 
}
.selected-member-desc {
    display:block;
}
.video {
    margin-top:2em;
    background-color:$black;
    display: table;

}
.meet-the-team {
    background-color:orange;
    .the-team {
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 )"); /* IE6-9 */
    }
}


.disabled,
.disabled > * {
    pointer-events:none;
    text-decoration: line-through;
    opacity: 0.5;
}


#join-bottom {
    @include auto-bg('https://images.unsplash.com/photo-1454023989775-79520f04322c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9e434433acf7e61b897ee692e51e0a4f');
}
#contact-bottom {
    @include auto-bg('../media/map.png');
}
#sponsor-bottom {
    @include auto-bg('https://images.unsplash.com/photo-1445865272827-4894eb9d48de?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=714ab41f0a036f1f27bea64b3db207a8')
}
#hire-bottom {
    @include auto-bg('https://images.unsplash.com/photo-1454023989775-79520f04322c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9e434433acf7e61b897ee692e51e0a4f')
}

@media all and (min-width: 321px) and (max-width: 768px) {
    * {
        font-size:1.2em;
    }
}

@media all and (min-width: 769px) and (max-width: 1189px) {
    * {
        font-size:1.2em;
    }
}

@media all and (min-width: 1190px) {
}