---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@font-face { 
	font-family:'FontAwesome';
	src:url(asset_path('fontawesome-webfont.eot?v=4.5.0'));
		src:url(asset_path('fontawesome-webfont.eot?#iefix&v=4.5.0')) format('embedded-opentype'),
		url(asset_path('fontawesome-webfont.woff2?v=4.5.0')) format('woff2'),
		url(asset_path('fontawesome-webfont.woff?v=4.5.0')) format('woff'),
		url(asset_path('fontawesome-webfont.ttf?v=4.5.0')) format('truetype'),
		url(asset_path('fontawesome-webfont.svg?v=4.5.0#fontawesomeregular')) format('svg');
	font-weight:normal;
	font-style:normal
}


// variables
$font-family: 'Source Sans Pro', sans-serif;
$serif: 'PT Serif', serif;
$sans: $font-family;

$navy:   #001f3f;
$blue:   #0074D9;
$lightblue: lighten($blue, 30%);
$darkblue: darken($blue, 10%);

$gray:   #AAAAAA;
$darkgray: darken($gray, 30%);

$aqua:   #7FDBFF;
$teal:   #39CCCC;
$olive:  #3D9970;
$green:  #2ECC40;
$lime:   #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red:    #FF4136;
$maroon: #85144b;
$fuchsia:#F012BE;
$purple: #B10DC9;
$black:  #111111;
$silver: #DDDDDD;
$white:  #FFFFFF;

@mixin ease() {
    -webkit-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

@mixin auto-bg($url) {
    background: url($url) no-repeat cover;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%), url($url) no-repeat;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0))), url($url) no-repeat;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%), url($url) no-repeat;
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%), url($url) no-repeat;
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%), url($url) no-repeat;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%), url($url) no-repeat;
    background-size:cover;
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "reset"
;
